.Job_container{
    padding: 10px 15px;

    background-color:aquamarine;
}

.Job_container1{
    margin: 10%;
}

.card1{
    padding: 7% 10%;
    border: 1px solid rgb(225, 213, 213);
    border-radius: 5%;
    margin: 7%;
}

.card2{
    margin: 10%;
    padding: 10%;
}

.Job_container2{
    margin: 10%;
    padding: 10%;
}


.Job_container3{
    margin: 10%;
    padding: 10%;
    justify-content: center;
}

.card3{
    text-align: center;
    margin: 5%;
    padding: 10% 25% 10% 25%;
    border : 0;
}

.card4{
    padding: 7% 10%;
    border: 1px solid rgb(225, 213, 213);
    border-radius: 5%;
    margin: 7%;
}